/* Geral */
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
}

body {
 background-image: url('https://images.unsplash.com/photo-1478860409698-8707f313ee8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.hide {
  display: none !important;
}

.container {
  background: linear-gradient(90deg, #97A4A4 0%, #7FA4A3 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 10px 13px 18px;
  padding: 2rem;
  color: black;
  border: black solid transparent;
  border-radius: 1rem;
  max-width: 400px;
}

/* Form */
.form h3 {
  margin-bottom: 1rem;
}

.form-input-container {
  display: flex;
}

.form input {
  padding: 0.8rem;
  border: none;
  flex: 1;
  border-radius: 4px;
}

.form button {
  padding: 0.8rem;
  min-width: 50px;
  margin-left: 8px;
  background-color: #167C7D;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* Clima */
#weather-data,
#error-message,
#loader,
#suggestions {
  border-top: 1px solid #fff;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

#country {
height: 20px;
}

#weather-data h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
}

#weather-data h2 i {
  font-size: 1rem;
}

#weather-data span {
  margin: 0.6rem;
}

#temperature {
  font-size: 4rem;
}



#description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
}

#description {
  text-transform: capitalize;
  font-weight: bold;
}

#details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#details-container #umidity {
  border-right: 1px solid #fff;
  margin: 0.6rem;
  padding: 0.6rem;
}

/* Loader */
#loader i {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* Sugestões */
#suggestions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#suggestions button {
  min-width: 150px;
  margin: 0.8rem;
  padding: 0.6rem 0.9rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #CECDCB;
  color: rgb(42, 39, 39);
  cursor: pointer;
  font-weight: bold;
  transition: 0.4s;
  opacity: 0.7;
  box-shadow: rgba(0, 0, 0, 0.361) 1px 1px 5px;
}

#suggestions button:hover {
  opacity: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #167C7D;
  width: 100%;
  text-align: center;
  color: #fff;
  height: 1.6rem;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 800;
  opacity: .9;
  gap: .5rem;
}

.footer i {
  cursor: pointer;
  font-size: 1.2rem;
}
